/*Default styles*/

img {
	max-width: 100%;
	height: auto;
	width: auto;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background-color: #f4e5d0;
	font-size: 150%;
	font-weight: 500;
}

#container {
	background-image: url('../images/bgforwk.jpg');
}

h2 {
	background-color: #677243;
	color: white;
	padding: .25em;
	padding-left: .5em;
	border-radius: .5em;
	font-family: 'Patua One', cursive;
	font-size: 140%;
	font-weight: normal;
}

#formcontainer {
	background-color: #677243;
	padding: .25em;
	border-radius: .25em;
	color: white;
	font-size: 300%;
	margin: .5em;
}

#formcontainer p {
	text-align: center;
	font-size: 40%;
}

h1 {
	text-align: center;
	font-size: 190%;
	margin-top: 1em;
	margin-bottom: 1em;
	color: #30302c;
	padding-left: 1em;
	padding-right: 1em;
}

#parentul {
	list-style-image: url('../images/greenstar.png');
}

#parentul li {
	padding-left: .5em;
}


#childul {
	list-style-type: disc;
	list-style-image: none;
}

li {
	padding-top: .25em;
}

#parentul>li:first-child {
	padding-top: 0;
}

#developers p {
	margin-left: 1em;
	margin-right: 1em;
}

#mplogo, .wkbclogo, #wkbc3d {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wkbclogo {
	width: 90%;
}

#mplogo {
	width: 70%;
	padding-top: 12%;
	padding-bottom: 22%;
}

#wkbc3d {
	width: 70%;
	margin-bottom: 5em;
}

#samplebutton {
	background-image: url('../images/greencircle.png');
	width: 35%;
	padding-bottom: 20%;
	margin-left: auto;
	margin-right: auto;
	background-size: 100%;
	position: absolute;
	background-repeat: no-repeat;
	z-index: 2;
	bottom: -58em;
	left: 38em;
}

#samplebutton p {
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 330%;
	font-weight: bold;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
}

header {
	background-image: url(../images/mobileheader.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

footer {
	background-image: url(../images/mobilefooter.png);
	background-size: 100%;
	background-repeat: no-repeat;
/*	padding-top: 5em;*/
}

#contentmain {
	padding-left: .5em;
	padding-right: .5em;
}

#disclaimer {
	color: white;
	font-size: 70%;
	font-weight: normal;
	padding-top: 3em;
	padding-bottom: 2em;
	text-align: center;
	margin-bottom: 0;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#scheduling {
	color: #30302c;
	font-size: 125%;
	text-align: center;
	margin-bottom: 2em;
	padding-left: .25em;
	padding-right: .25em;
}

#dogtag {
	background-image: url(../images/dogtag.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

#dogtag p {
	text-align: center;
	font-family: 'Patua One', cursive;
	color: #30302c;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-size: 4.5vw;
	padding-top: 1em;
	height: 4em;
}

#samplebutton {
	display: none;
}

a {
	text-decoration: none;
	color: #677243;
}